.helloInput {
  width: 200px;
}

.title{
  color: rgb(68, 49, 49);
}
.mainText{
  color:white;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #e4d1ab;

}

.page-footer{
  background-color: #d3893a;
}
main {
  flex: 1 0 auto;
}

.card .card-image img{
  height: 100px;
  

}
